table.data-table{
	width: 100%;
}
table.data-table td, table.data-table th{
	border-right:1px solid black;
	border-bottom:1px solid black;
}
table.data-table{
	border-top:1px solid black;
	border-left:1px solid black;
}
table tr td{
	vertical-align: top;
}
.message{
	background-color:antiquewhite;
	padding: 5px;
	margin-bottom: 10px;
}
.error{
	background-color:red;
	padding: 5px;
	margin-bottom: 10px;
}